.blog {
    background-color: lightgray;
}

.thumbnail{
        position: relative;

        .detail{
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }

.blog-detail{
    padding-bottom: 15px;
    background-color: white;
    opacity: .5;
}

.blog-detail-margin {
    margin-top: 20px;
}

#blog {

    h2 {
        color: white;
    }

}