.professional-history {
    background-color: #faa318;
    opacity: .5;
    color: #003c6c;
    padding-bottom: 20px;

    h2, h3, h4 {
        text-align: center;
    }

    img {
        margin: 0 auto;
    }
}