@import 'contact-info';
@import 'about-me';
@import 'professional-history';
@import 'blog';


body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// .thumbnail, .blog-detail {
// 	background-color: #FFF0A5;
// 	border: solid 1px #B64926;
// 	-webkit-box-shadow: 3px 3px 10px -2px rgba(142,40,0,1);
// 	-moz-box-shadow: 3px 3px 10px -2px rgba(142,40,0,1);
// 	box-shadow: 3px 3px 10px -2px rgba(142,40,0,1);
// }

#blog-container .set-height {
    display: block;
    display: -webkit-box;
    height: 220px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.all-articles {
	margin-top: 2em;
}

.search-bar-padding {
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

img {
    margin: 0 auto;
}