<div class="contact-info">
    <h1>Contact Info</h1>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <div class="item">
                        <i class="fa fa-envelope fa-3x"></i>
                    </div>
                    <h3>Email Address</h3>
                    <p class="text-center">
                        <a href="mailto:davidtdassau@gmail.com">davidtdassau@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <div class="item">
                        <i class="fa fa-github fa-3x"></i>
                    </div>
                    <h3>Github</h3>
                    <p class="text-center">
                        <a href="https://github.com/daviddassau" target="_blank">github.com/daviddassau</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <div class="item">
                        <i class="fa fa-linkedin-square fa-3x"></i>
                    </div>
                    <h3>LinkedIn</h3>
                    <p class="text-center">
                        <a href="https://www.linkedin.com/in/daviddassau" target="_blank">linkedin.com/in/daviddassau</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <div class="item">
                        <i class="fa fa-twitter-square fa-3x"></i>
                    </div>
                    <h3>Twitter</h3>
                    <p class="text-center">
                        <a href="https://twitter.com/daviddassau" target="_blank">twitter.com/daviddassau</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <footer class="small">Copyright &copy; David T. Dassau 2017</footer>
</div>
