<!-- About Me -->
<div class="about-me">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1">
                <div class="col-md-4">
                    <img src="../img/me.jpg" class="img-rounded" width="300px" alt="">
                </div>
                <div class="col-md-6">
                    <h2>Hello, my name's David Dassau</h2>
                    <h4>Web Developer / Photographer / Ravenclaw</h4>
                    <p>I have been a creative artist for most of my life. Writing, drawing, casting spells: you name it, I've at
                        least attempted it. However, back in 2012, I took the that fated red pill, and wandered down that deep,
                        dark rabbit hole that is web design and development. Once I started learning about the basics, I couldn't
                        get enough. My very first site was a blog/comedy site that was 100% HTML and CSS, so any time I wanted
                        to move stuff around on the site, I had to do so manually. It was exhausting. Cut to me, 4 years later,
                        back in school at the Nashville Software School, learning how to make websites where you can DYNAMICALLY
                        display content.</p>
                    <p>I consider myself extremely lucky to be able to do what I do every day. With all the gifts and pleaseantries
                        that I am afforded in my daily life, I find that there is little room left to complain.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //About Me -->

<!-- Professional History -->
<div class="professional-history">
    <div class="container" id="professionalHistory">
        <h2>Professional History</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="row text-center">
                    <img src="../img/godigital.png" alt="">
                </div>
                <h4>November 2015 - Present</h4>

                <p class="text-center">
                    <strong>Email Specialist</strong>
                </p>
                <p>As an Email Specialist, I use HTML and CSS to code emails, primarily for automotive dealerships. I use media
                    queries to make sure that our custom emails are mobile-responsive for our clients. Once coding is complete,
                    I use Email On Acid, or EOA, to test the coded email across all browsers and email clients, such as Apple
                    Mail, Outlook, Gmail, iPhone, iPad, and Android.</p>
            </div>
            <div class="col-md-6">
                <div class="row text-center">
                    <img src="../img/hca.png" alt="">
                </div>
                <h4>April 2015 - November 2015</h4>

                <p class="text-center">
                    <strong>Content Migrator</strong>
                </p>

                <p>My job role at HCA was to migrate content from old hospital websites to new mobile responsive one-page templates.
                    On a daily basis, I utilized my HTML, CSS, and Bootstrap 3 skills in order to make the new hospital sites
                    look modern, up-to-date, and easy to use for all audiences.</p>
            </div>
        </div>

        <h2>Education</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="row text-center">
                    <img src="../img/nss.png" width="200" alt="">
                </div>
                <h4>July 2017 - June 2018</h4>

                <p class="text-center">
                    <strong>Web and Software Development</strong>
                </p>
            </div>
            <div class="col-md-6">
                <div class="row text-center">
                    <img src="../img/nscc.png" width="200" alt="">
                </div>
                <h4>August 2012 - May 2014</h4>

                <p class="text-center">
                    <strong>Visual Communications - Concentration in Web Design</strong>
                </p>
            </div>
        </div>

    </div>
</div>
<!-- //Professional History -->

<!-- Projects -->
<div class="projects container">
    <h2 class="text-center">Projects</h2>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Capstone Project</h3>
                    <p>This project is a reflection of everything I have learned in the first 6 months at the Nashville Software School. The project demonstrates my front-end capabilities, specifically with JavaScript, jQuery, AngularJS, Firebase, and Bootstrap. My actual capstone project is a movie quote database called You're Gonna Need a Bigger Quote. It allows a user to find specific quotes from any movie, and if they can't find the quote they're looking for, they can submit one.</p>
                    <div>
                        <a href="https://personal-site-12d0f.firebaseapp.com/" target="_blank"><button class="btn btn-default"><i class="fa fa-eye"></i> Check out app</button></a>
                        <a href="https://github.com/daviddassau/capstone-movie-quote-database" target="_blank"><button class="btn btn-default"><i class="fa fa-github"></i> Find on Github</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Contacts Application</h3>
                    <p>For this assignment, we had to use AngularJS to build a simple contacts app, where a user could add, save, and edit their contacts, like they would using their cell phone. A user is required to log in using their Google account, and their contact information is stored using Google's Firebase. The user can also choose to "favorite" a contact, where it will then show up on the favorites page.<br /><br /><br /></p>
                    <div>
                        <a href="https://angular-contacts-db03c.firebaseapp.com" target="_blank"><button class="btn btn-default"><i class="fa fa-eye"></i> Check out app</button></a>
                        <a href="https://github.com/daviddassau/angular-contacts" target="_blank"><button class="btn btn-default"><i class="fa fa-github"></i> Find on Github</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Theme Park Map</h3>
                    <p>For this group project, we had to use browserify to build an interactive theme park map for Disney's Magic Kingdom. On page load, a user can see all 7 sections of the park, and a short description of each one. Some of the other features allow the user to read more about certain attractions, see what time a particular show is playing, and use the time picker to see what is happeniing on a specific date.<br /><br /><br /></p>
                    <div>
                        <a href="https://themepark-map.firebaseapp.com/" target="_blank"><button class="btn btn-default"><i class="fa fa-eye"></i> Check out app</button></a>
                        <a href="https://github.com/nss-evening-cohort-06/theme-park-misc" target="_blank"><button class="btn btn-default"><i class="fa fa-github"></i> Find on Github</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Movie History</h3>
                    <p>This project was our introduction to AngularJS. We learned about how everything is split up into partials, controllers, and services, and how we should write the code so that they all work together. With the app, you have the ability to search for any movie, just like you would with IMDB. A few of the other main features include being able to save a movie to your own wishlist, as well as rate a movie.</p>
                    <div>
                        <a href="https://movie-history-38ca6.firebaseapp.com/" target="_blank">
                            <button class="btn btn-default">
                                <i class="fa fa-eye"></i> Check out app</button>
                        </a>
                        <a href="https://github.com/daviddassau/angular-movie-history" target="_blank">
                            <button class="btn btn-default">
                                <i class="fa fa-github"></i> Find on Github</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Local Weather</h3>
                    <p>With our local weather application, a user can use the input field to type in their zip code, and find out the weather, as well as other conditions. They also have the ability to see the 3 and 5 day forecast. The application requires a user login, so that the user can save the forecast for a particular day. This project served as our first look into Google's Firebase.<br />&nbsp;
                    </p>
                    <div>
                        <a href="https://github.com/daviddassau/local-weather" target="_blank">
                            <button class="btn btn-default">
                                <i class="fa fa-github"></i> Find on Github</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Acme Explosives</h3>
                    <p>
                        This project served as great practice for working with JSON data and Promises. We had to come up with different categories of explosives, as well as different types and their details. The application also served as great practice for getting information to dynamically display on the page using a dropdown menu.<br />&nbsp;
                    </p>
                    <div>
                        <a href="https://github.com/daviddassau/acme-explosives" target="_blank">
                            <button class="btn btn-default">
                                <i class="fa fa-github"></i> Find on Github</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- //Projects -->

<!-- Contact Info -->
<div class="contact-info">
    <div class="container">
        <h2 class="text-center">Contact Info</h2>

        
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="item">
                                    <i class="fa fa-envelope fa-3x"></i>
                                </div>
                                <h3>
                                    <a href="mailto:davidtdassau@gmail.com">Email</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="item">
                                    <i class="fa fa-github fa-3x"></i>
                                </div>
                                <h3>
                                    <a href="https://github.com/daviddassau" target="_blank">Github</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="item">
                                    <i class="fa fa-linkedin-square fa-3x"></i>
                                </div>
                                <h3>
                                    <a href="https://www.linkedin.com/in/daviddassau" target="_blank">LinkedIn</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="item">
                                    <i class="fa fa-twitter-square fa-3x"></i>
                                </div>
                                <h3>
                                    <a href="https://twitter.com/daviddassau" target="_blank">Twitter</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


        <footer class="small">Copyright &copy; David T. Dassau 2017</footer>
    </div>
</div>

<!-- //Contact Info -->