<!-- Container -->
<div class="container professional-history" id="professionalHistory">
    <h2>Professional History</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="row text-center"><img src="../img/godigital.png" alt=""></div>
            <h4>November 2015 - Present</h4>

            <p class="text-center"><strong>Email Specialist</strong></p>
                <p>As an Email Specialist, I use HTML and CSS to code emails, primarily for automotive dealerships. I use media queries
                to make sure that our custom emails are mobile-responsive for our clients. Once coding is complete, I use Email On Acid,
                or EOA, to test the coded email across all browsers and email clients, such as Apple Mail, Outlook, Gmail, iPhone, iPad,
                and Android.</p>
        </div>
        <div class="col-md-6">
            <div class="row text-center"><img src="../img/hca.png" alt=""></div>
            <h4>April 2015 - November 2015</h4>
        
            <p class="text-center"><strong>Content Migrator</strong></p>
                
                <p>My job role at HCA was to migrate content from old hospital websites to new mobile responsive one-page templates. On a daily
                basis, I utilized my HTML, CSS, and Bootstrap 3 skills in order to make the new hospital sites look modern, up-to-date, and
                easy to use for all audiences.</p>
        </div>
    </div>

    <h2>Education</h2>
    
    <div class="row">
        <div class="col-md-6">
            <div class="row text-center"><img src="../img/nss.png" width="200" alt=""></div>
            <h4>July 2017 - June 2018</h4>
    
            <p class="text-center">
                <strong>Web and Software Development</strong>
            </p>
        </div>
        <div class="col-md-6">
            <div class="row text-center"><img src="../img/nscc.png" width="200" alt=""></div>
            <h4>August 2012 - May 2014</h4>
    
            <p class="text-center">
                <strong>Visual Communications - Concentration in Web Design</strong>
            </p>
        </div>
    </div>

</div>
<!-- //Container -->