<div class="projects">
    <h1>Projects</h1>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Contacts Application</h3>
                    <p>For this assignment, we had to use AngularJS to build a simple contacts app, where a user could add, save, and edit their contacts, like they would using their cell phone. A user is required to log in using their Google account, and their contact information is stored using Google's Firebase. The user can also choose to "favorite" a contact, where it will then show up on the favorites page.</p>
                    <div>
                        <a href="https://angular-contacts-db03c.firebaseapp.com" target="_blank"><button class="btn btn-default"><i class="fa fa-eye"></i> Check out app</button></a>
                        <a href="https://github.com/daviddassau/angular-contacts" target="_blank"><button class="btn btn-default"><i class="fa fa-github"></i> Find on Github</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Theme Park Map</h3>
                    <p>For this group project, we had to use browserify to build an interactive theme park map for Disney's Magic Kingdom. On page load, a user can see all 7 sections of the park, and a short description of each one. Some of the other features allow the user to read more about certain attractions, see what time a particular show is playing, and use the time picker to see what is happeniing on a specific date.</p>
                    <div>
                        <a href="https://themepark-map.firebaseapp.com/" target="_blank"><button class="btn btn-default"><i class="fa fa-eye"></i> Check out app</button></a>
                        <a href="https://github.com/nss-evening-cohort-06/theme-park-misc" target="_blank"><button class="btn btn-default"><i class="fa fa-github"></i> Find on Github</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="small">Copyright &copy; David T. Dassau 2017</footer>
</div>