<div class="projects">
    <h1>Projects</h1>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Bacon ipsum dolor amet leberkas boudin bacon pork belly chuck kielbasa. Landjaeger ball tip pork belly
                        beef ribs t-bone bresaola pastrami drumstick. Pork chop biltong alcatra picanha pork pork loin turducken
                        rump doner shank tail jowl landjaeger ham. Kevin strip steak rump, pastrami ground round prosciutto
                        turkey. T-bone cow salami, pastrami frankfurter ball tip bacon porchetta shoulder biltong tri-tip
                        chicken.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Bacon ipsum dolor amet leberkas boudin bacon pork belly chuck kielbasa. Landjaeger ball tip pork belly
                        beef ribs t-bone bresaola pastrami drumstick. Pork chop biltong alcatra picanha pork pork loin turducken
                        rump doner shank tail jowl landjaeger ham. Kevin strip steak rump, pastrami ground round prosciutto
                        turkey. T-bone cow salami, pastrami frankfurter ball tip bacon porchetta shoulder biltong tri-tip
                        chicken. Meatloaf short ribs biltong chuck, corned beef drumstick salami sirloin. Chicken ham hock
                        beef ribs swine meatloaf shank, bresaola tri-tip turkey hamburger kevin drumstick pork chop jowl
                        tongue. Meatloaf shank sausage t-bone, shoulder andouille picanha sirloin boudin capicola turducken
                        short loin leberkas pork cupim. Ribeye pig spare ribs kielbasa venison fatback. Sausage leberkas
                        shoulder, spare ribs jowl chuck capicola turducken flank pork belly kevin ball tip turkey. Short
                        loin cupim ball tip, jerky ground round prosciutto venison pig pork loin boudin shoulder pork chop
                        alcatra tail pork.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Bacon ipsum dolor amet leberkas boudin bacon pork belly chuck kielbasa. Landjaeger ball tip pork belly
                        beef ribs t-bone bresaola pastrami drumstick. Pork chop biltong alcatra picanha pork pork loin turducken
                        rump doner shank tail jowl landjaeger ham. Kevin strip steak rump, pastrami ground round prosciutto
                        turkey. T-bone cow salami, pastrami frankfurter ball tip bacon porchetta shoulder biltong tri-tip
                        chicken. Meatloaf short ribs biltong chuck, corned beef drumstick salami sirloin. Chicken ham hock
                        beef ribs swine meatloaf shank, bresaola tri-tip turkey hamburger kevin drumstick pork chop jowl
                        tongue. Meatloaf shank sausage t-bone, shoulder andouille picanha sirloin boudin capicola turducken
                        short loin leberkas pork cupim. Ribeye pig spare ribs kielbasa venison fatback. Sausage leberkas
                        shoulder, spare ribs jowl chuck capicola turducken flank pork belly kevin ball tip turkey. Short
                        loin cupim ball tip, jerky ground round prosciutto venison pig pork loin boudin shoulder pork chop
                        alcatra tail pork. T-bone salami tail alcatra tenderloin landjaeger strip steak doner jerky tri-tip
                        ball tip brisket ham bresaola. Cupim ball tip flank chuck short loin pig. Kielbasa flank venison
                        pork leberkas meatloaf bacon ribeye pig ground round shank brisket. Frankfurter spare ribs turkey
                        andouille alcatra corned beef pork loin, short loin porchetta pig. Kevin landjaeger turkey, hamburger
                        sirloin pastrami fatback corned beef prosciutto pig. Short loin prosciutto tri-tip, brisket tenderloin
                        short ribs beef ribs salami pig ham.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="small">Copyright &copy; David T. Dassau 2017</footer>
</div>