<div class="projects">
    <h2 class="text-center">Projects</h2>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Capstone Project</h3>
                    <p>This project is a reflection of everything I have learned in the first 6 months at the Nashville Software School. The project demonstrates my front-end capabilities, specifically with JavaScript, jQuery, AngularJS, Firebase, and Bootstrap. My actual capstone project is a movie quote database called You're Gonna Need a Bigger Quote. It allows a user to find specific quotes from any movie, and if they can't find the quote they're looking for, they can submit one.</p>
                    <div>
                        <a href="https://personal-site-12d0f.firebaseapp.com/" target="_blank"><button class="btn btn-default"><i class="fa fa-eye"></i> Check out app</button></a>
                        <a href="https://github.com/daviddassau/capstone-movie-quote-database" target="_blank"><button class="btn btn-default"><i class="fa fa-github"></i> Find on Github</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Contacts Application</h3>
                    <p>For this assignment, we had to use AngularJS to build a simple contacts app, where a user could add, save, and edit their contacts, like they would using their cell phone. A user is required to log in using their Google account, and their contact information is stored using Google's Firebase. The user can also choose to "favorite" a contact, where it will then show up on the favorites page.<br /><br /><br /></p>
                    <div>
                        <a href="https://angular-contacts-db03c.firebaseapp.com" target="_blank"><button class="btn btn-default"><i class="fa fa-eye"></i> Check out app</button></a>
                        <a href="https://github.com/daviddassau/angular-contacts" target="_blank"><button class="btn btn-default"><i class="fa fa-github"></i> Find on Github</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail set-height">
                <div class="caption">
                    <h3>Theme Park Map</h3>
                    <p>For this group project, we had to use browserify to build an interactive theme park map for Disney's Magic Kingdom. On page load, a user can see all 7 sections of the park, and a short description of each one. Some of the other features allow the user to read more about certain attractions, see what time a particular show is playing, and use the time picker to see what is happeniing on a specific date.<br /><br /><br /></p>
                    <div>
                        <a href="https://themepark-map.firebaseapp.com/" target="_blank"><button class="btn btn-default"><i class="fa fa-eye"></i> Check out app</button></a>
                        <a href="https://github.com/nss-evening-cohort-06/theme-park-misc" target="_blank"><button class="btn btn-default"><i class="fa fa-github"></i> Find on Github</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>