/* Main CSS */

body {
	background-color: #FFB03B;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*padding-top: 5rem;*/
}

.thumbnail {
	background-color: #FFF0A5;
	border: solid 1px #B64926;
	-webkit-box-shadow: 3px 3px 10px -2px rgba(142,40,0,1);
	-moz-box-shadow: 3px 3px 10px -2px rgba(142,40,0,1);
	box-shadow: 3px 3px 10px -2px rgba(142,40,0,1);
}

/*.set-height {
	max-height: 220px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}*/

.set-height {
    display: block;
    display: -webkit-box;
    height: 220px;
    margin: 0 auto;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

/*ul {
	list-style: none;
	margin: 0;
	text-align: center;
}*/

/*nav {
	height: 40px;
	background-color: #ffffff;
}*/

/*li {
	display: inline;
	font-size: 17px;
	width: 100%
}*/

/*a:hover {
	color: green;
	background-color: yellow;
}*/

/*a:active {
	font-size: 22px;
}*/

.all-articles {
	margin-top: 2em;
}

/*nav ul {
	display: flex;
	margin: 0 auto;
	width: 60%;
}*/


/* Blog Page Stylings */

/* Card Styling */

/*.blog-post {
	background-color: white;
	width: 400px;
	border: 2px solid slategray;
	margin: 1%;
}*/

/*.blog-body > * {
	margin: 0;
	text-align: left;
	padding: .5em;
}*/

/*.blog-body {
	padding: 2%;
}*/

/*.blog-body h6 {
	font-size: 1.5em;
	padding: 2%;
}*/

/*.blog-title {
	text-align: center;
	text-transform: uppercase;
	line-height: 0px;
}*/

/*.blog-date {
	font-size: 12px;
}*/

/* CARD LAYOUT */

/*#blog-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}*/










