.glyphicon {
  font-size: 3em; }

.item {
  text-align: center; }

h3 {
  text-align: center; }

a {
  color: #B64926; }

.about-me {
  padding-bottom: 25px; }

.professional-history {
  background-color: lightgray; }
  .professional-history h2, .professional-history h3, .professional-history h4 {
    text-align: center; }
  .professional-history img {
    margin: 0 auto; }

.blog {
  background-color: lightgray; }

.thumbnail {
  position: relative; }
  .thumbnail .detail {
    position: absolute;
    right: 15px;
    top: 15px; }

.blog-detail {
  padding-bottom: 15px; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#blog-container .set-height {
  display: block;
  display: -webkit-box;
  height: 220px;
  margin: 0 auto;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px; }

.all-articles {
  margin-top: 2em; }

.search-bar-padding {
  margin-bottom: 30px; }

footer {
  text-align: center; }

img {
  margin: 0 auto; }
